h1 {
  color: white;
  text-align: center;
  background-image: linear-gradient(to right, rgb(138, 138, 235), navy);
}

#display {
  display: flex;
}

#cityContainer {
  flex: 2;
  margin: 10px;
}

#forecastContainer {
  flex: 7;
  margin: 10px;
}

#searchForm {
  display: flex;
  flex-direction: column;
}

#location {
  height: 30px;
}
#searchBtn {
  background-color: rgb(37, 160, 209);
  color: white;
  margin: 10px 0;
  height: 30px;
}

.button {
  margin: 10px 0;
  height: 30px;
  background-color: grey;
}

#currentForecast {
  border: 1px solid black;
}

#fiveDayForecast {
  display: flex;
  justify-content: space-between;
}

.disp {
  margin: 10px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  max-width: 40px;
  margin: 0 20px;
}
